// Body
$body-bg: #f8fafc;
// $body-bg: pink;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$btn-border-radius: 0.75rem; // $border-radius: 0.75rem;
$btn-border-radius-sm: 0.7rem;
$border-radius-sm: 0.5rem;
$modal-content-border-radius: 1rem;
